# Core
DEBUG=
SECRET_KEY =
ALLOWED_HOSTS=

# Database
DATABASE_URL=


# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=

EMAIL_BACKEND=

# Production email
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
